.navbox{
    background-color:rgb(15, 15, 15);
}
.toptitle {
font-size: x-large;
text-align: center;
}
.undertitle{
    font-size: large;
    text-align: center;
}

.navbar{
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.navitem{
    transition:.2s;

    color: white;
    padding: 2px 10px 2px 10px;
    /* background-color: red; */
    border: 1px solid white;
    border-radius: 10px;
}
.navitem:hover{
    transition:.2s;
 color: gray;
    border-radius: 0px;

}