
.footer {
    background: linear-gradient(315deg, #f0f0f0, #cacaca);
    box-shadow: -17px -17px 35px #c5c5c5, 17px 17px 35px #fbfbfb;
    padding: 1rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: fit-content;    
}