
.footer_desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background: linear-gradient(315deg, var(--bg-color-1), var(--bg-color-2));
    box-shadow: -17px -17px 35px var(--bg-color-shadow-1), 17px 17px 35px #fbfbfb;
    padding: 1rem; 
}

.footer_desktop p {
    border-radius: 10px;
    box-shadow: -17px -17px 35px #c5c5c5, 17px 17px 35px var(--bg-color-shadow-2);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 1s;
    color: var(--text-color);
    background-color: var(--bg-color-1);
}

.footer_desktop a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 1s;
    color: var(--text-color);
    background-color: transparent;
}

.footer_desktop a:hover{
    box-shadow: -5px -5px 10px #c5c5c5;
    transition: 1s;
}

.footer_mobile{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.footer_mobile p {
    border-radius: 10px;
    box-shadow: -17px -17px 35px #c5c5c5, 17px 17px 35px var(--bg-color-shadow-2);
    text-decoration: none;
    padding:1rem;
    transition: 1s;
    color: var(--text-color);
    background-color: var(--bg-color-1);
}

.footer_mobile a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 1s;
    color: var(--text-color);
    background-color: transparent;
}