
.root {
    --bg-color-1: #f0f0f0;
    --bg-color-2: #cacaca;
    --bg-color-shadow-1: #c5c5c5;
    --bg-color-shadow-2: #fbfbfb;
    --text-color: black;
    --button-color: black;
}

.darkmode {
    --bg-color-1: #1e1e1e;
    --bg-color-2: #0d0d0d;
    --bg-color-shadow-1: #0a0a0a;
    --bg-color-shadow-2: #2a2a2a;
    --text-color: white;
    --button-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    background-color: var(--bg-color-1);
}