.root {
  --bg-color-1: #f0f0f0;
  --bg-color-2: #cacaca;
  --bg-color-shadow-1: #c5c5c5;
  --bg-color-shadow-2: #fbfbfb;
  --text-color: black;
  --button-color: black;
}
.darkmode {
  --bg-color-1: #03001C;
  --bg-color-2: #301E67;
  --bg-color-shadow-1: #301E67;
  --bg-color-shadow-2: #5B8FB9;
  --text-color: #B6EADA;
  --button-color: #B6EADA;
  --items-color: red;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 10px;
  /* background: linear-gradient(315deg, var(--bg-color-1), var(--bg-color-2)); */
  background-color: transparent;
  box-shadow: -17px -17px 35px var(--bg-color-shadow-1),
    17px 17px 35px var(--bg-color-shadow-2);
  padding: 1rem;
  height: 100vh;

  color: var(--text-color);
}

@media (min-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header "
      "main "
      "footer ";

    grid-gap: 10px;
  }
}
